<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Login</h2>
      <form action="/login" method="post">

        {{#if loginErr}}
          <p class="error">{{loginErr}}</p>
        {{/if}}
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>

          <input
            type="email"
            id="form2Example1"
            class="form-control"
            name="Email"
          />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>

          <input
            type="password"
            id="form2Example2"
            class="form-control"
            name="Password"
          />
        </div>

        <!-- 2 column grid layout for inline styling -->

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/signup">Register</a></p>
        </div>
      </form>
    </div>
  </div>

</div>